
<script lang="ts" setup>
import { reduceEachLeadingCommentRange } from 'typescript';
import { reactive, ref } from 'vue';

 const dynamicId = ref('MyID')
 const titleClass = ref('red')
 const myClass = reactive({
        red: true,
        bold:true,
        underline:true
    })
    myClass.red = false
const myStyle = reactive({
    fontSize : '30px',
        border: '2pt',
        borderStyle: 'solid'
})
</script>
<template>
    <div :id="dynamicId" 
    :class="myClass" 
    :style="myStyle
    ">
    {{ dynamicId }}</div>
</template>

<style scoped>
   
    .red{
        color: red;
    }
    .bold{
        font-weight: bold;
    }

    .underline{
        text-decoration: underline;
    }
</style>