<script setup lang="ts">
import { reactive, ref, watch } from 'vue'

const count = ref(0)
const myClass = reactive({
        red: true,
        bold:true,
        underline:true
    })
function increment() {
    count.value++
}

watch(count,(newCount,oldCount)=>{
    console.log(`Count Change ${oldCount} -> ${newCount}`)
})
</script>
<template>
    <button @click="increment()" :class="myClass">count is {{count}}</button><br>
    <pre>{{ myClass }}</pre><br>
    <button @click="myClass.red = !myClass.red">red</button> 
    <button @click="myClass.bold = !myClass.bold">bold</button> 
    <button @click="myClass.underline = !myClass.underline">underline</button>
</template>

<style scoped>
    .red{
        color: red;
    }
    .bold{
        font-weight: bold;
    }

    .underline{
        text-decoration: underline;
    }
</style>