<script setup lang="ts">
import { computed, ref } from 'vue';
type  ToDo = {
id:number,
text:string,
done:boolean

}


let id = 0
const newToDo = ref('')
const num1=ref(0)
const num2=ref(0)
const hideCompleted = ref(false)

const todos = ref<ToDo[]>([
    { id: id++, text: 'Learn HTML' ,done:true},
    { id: id++, text: 'Learn Javascript' ,done:true},
    { id: id++, text: 'Learn Vue' ,done:false}
])

const fileredToDos=computed(() => {
    if(hideCompleted.value){
        return todos.value.filter((t)=> !t.done)}
    else{
        return todos.value
    }
})

function addToDo() {
    todos.value.push({ id: id++, text: newToDo.value ,done:false})
    newToDo.value = ''
}

function removeToDo(todo: ToDo) {
    todos.value = todos.value.filter((t) => t!==todo)
    // todos.value =todos.value.filter((t) => t.id !== id)
    //const index = todos.value.findIndex((t)=>t.id===id)
    //todos.value.splice(index,1)
    //const index = todos.value.indexOf(todo)
    //todos.value.splice(index, 1)
}

//function cal(){
  //  result.value = num1.value+num2.value}

const result =computed(() => num1.value+num2.value)
</script>

<template>
    <div>
        <input type="text" v-model.number="num1" />
        + <input type="text" v-model.number="num2" /> = {{ result }} 
    </div>
    <div>{{ todos }}</div>
    <div>{{ newToDo }}</div>
    <form @submit.prevent="addToDo">
        <input type="text" v-model="newToDo" />
        <button>add todo</button>
    </form>

    <ul>
        <li v-for="todo in fileredToDos" :key="todo.id" :class="{done:todo.done}">
        <input type="checkbox" v-model="todo.done">{{ todo.text }}  <button @click="removeToDo(todo)">X</button>
        </li>

    </ul>
    <button @click="hideCompleted=!hideCompleted">{{ hideCompleted?"Hide Completed":"Show All" }}</button>
</template>

<style scoped>
.done{
    text-decoration: line-through;
}
</style>